* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
}

#diviv {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 600px;
    height: 600px;
    margin-top: 5%;
    background-color: white;
}

#diviv>* {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
}

button {
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: white;
}

@media (max-width: 768px) {

    #diviv {
        width: 300px;
        height: 300px;
    }
    #diviv>* {
    width: 100px;
    height: 100px;
    }
}